html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
div#divBase {
  padding: 0px;
  width: 100%;
  height: 100%;
  display: table;
}
div#divBase #divContainer {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
div#divBase #divContainer span {
  display: inline-block;
}
